@mixin breakpoint($point){
    @if $point==md {
        @media (min-width:48em){@content}
        
    }
}

.principalCard {
    perspective: 1000px;
    position: relative;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include breakpoint(md){
        height: 220px;
        width: 16rem;
    }
}


.principalCard img{
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    width: 12rem;
    height: 10rem;
    @include breakpoint(md){
        height: 230px;
        width: 16rem;
    }
}

.principalCard .back{
    position: absolute;
    transform: rotate(0deg);
    backface-visibility: hidden;
    transition: transform 0.4s linear;
    
}

.principalCard .front{
    background-color: #EAE6DD;
    color: black;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.4s linear;
    border: 2px solid black;
    border-radius: 15px !important;
    width: 12rem;
    height: 10rem;
    @include breakpoint(md){
        height: 230px;
        width: 16rem;
    }

}

.principalCard:hover .back{
    transform: rotateY(-180deg);
}
.principalCard:hover .front{
    transform: rotateY(0);
    border-top-left-radius: 0;
    border-bottom-right-radius:0 ;
    
}
.textoAdocao{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    @include breakpoint(md){
        margin-top: 50px;
        font-size: 1.3rem;
    }
}
.tipoAnimal{
    position: absolute;
    bottom: 0;
    left: 10;
}

