@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}
.rodape{
    display: none;
    @include breakpoint(md){
        display: flex;
        gap: 5px;
        height: 60px;
        position: fixed;
        bottom: 0;
        width: 100%;
        align-items: center;
        padding-left: 20px;
    }
}
.rodape h2{
    font-size: 12px;
}