@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}
.principal{
    width: 100%;
    display: flex;
    justify-content: center;
}
.principal h2{
    font-size: 14px;
}
.cardCarousel{
    width: 350px;
    height: 290px;
    border-radius: 50%;
    margin-bottom: 10px;
    @include breakpoint(md){
        width: 450px;
        height: 350px;
    }
}

.carousel{
    height: 100%;
    border-radius: 40%;
    border: 5px solid white !important;
}

.carousel .slide img{
    width: 100%;
    height: 300px;
    @include breakpoint(md){
        height: 350px;
    }
}

.image-wrapper{
    width: 100%;
    margin-bottom: 10px;
}