@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}
.inicio-content{
    background-color: #EAE6DD;
    height: 100vh;
}
.principalInicial{
    margin-top: 4rem;
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    @include breakpoint(md){
        max-width: 1000px;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
.textoInicial{
    text-align: center;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    @include breakpoint(md){
        max-width: 500px;
    }
}
.textoInicial h1{
    font-family: 'Rubik Bubbles',cursive;
    font-weight: 200;
    font-size: 3rem;
    @include breakpoint(md){
        font-size: 4rem;
    }
}
.catAndBall{
    display: flex;
}

.iconePaw1{
    position: absolute;
    top: -60px;
    left: 20px;
    transition: 0.4s ease-in-out;
    animation: fill 7s ease infinite;
}
@keyframes fill {
    10% {
    transform: scaleX(1);
      width: 0%;
      
    }
    
    50% {
        transform: scaleX(1);
        width: 100%;
      
    }
    80% {
        transform: scaleX(-1);
        width: 100%;
      
    }
    
    90% {
      width: 10%;
      transform: scaleX(-1);
    }
  }
.iconePaw2{
    position: absolute;
    bottom: -110px;
    right: 20px;
    animation: rotate 4s ease infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(20deg);
    }

    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}