@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}
        
.header {
    width: 100%;
    position: fixed;
    top: 0;

    z-index: 1000;
    height: 80px;
    display: grid;
    border-bottom: 5px solid white;
    &__content {
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5%;
        padding: 0 2rem;
        @include breakpoint(md) {
            justify-content: center;
            height: 80px;
        }

        &__nav {
            top: 0;
            right: 100%;
            bottom: 0;
            width: 30%;
            height: 100%;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba(0,0,0, 0.7);
            transition: 0.3s ease transform;
            z-index: 1000;
            @include breakpoint(md) {
                transform: none;
                flex-direction: row;
                background: transparent;
                width: auto;
                height: 100%;
                position: static;
            }
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                margin-bottom: 120px;
                flex-direction: column;
                @include breakpoint(md) {
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    margin-right: calc(0.5rem + #{16px});
                }
                li {
                    &:not(:last-child) {
                        margin-bottom:36px;
                        @include breakpoint(md) {
                            margin-bottom: 0;
                            margin-right: 25px;
                        }
                    }
                    a {
                        height: 25px;
                        cursor: pointer;
                    }

                }
            }


            &.isMenu {
                transform: translate(100%);
            }
        }

        &__toggle {
            cursor: pointer;
            display: flex;
            font-size: 2rem;
            transition: 0.3s ease all;
            position: relative;

            @include breakpoint(md) {
                display: none;
            }
        }
    } 
}

.logo{
    width: 70px;
    height: 60px;

    text-align: center;
}
.imagemLogo img{
    width: 100%;
    border: 3px solid white;
    border-radius: 50%;
}

.logo{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    margin-bottom: 10px;
    @include breakpoint(md){
        margin-bottom: 15px;
    }
}

.nav-items {
    margin-bottom: 50px;
    
  }
.nav-item > .active {
    border-bottom: 2px solid white;

}