@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
  }

.card{
    display: grid;
    grid-template-columns: 190px 190px;
    grid-auto-rows: 160px;
    gap: 15px;
    margin: 40px auto;
    text-align: center;
    justify-content: center;
    @include breakpoint(md){
        max-width: 900px;
        grid-template-columns: 270px 270px 270px;
        grid-auto-rows: 240px;
        margin: 40px auto;
    }
}

.tituloAdocao{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;

}
.tituloAdocao h1{
    margin-top: 30px;
    font-family: 'Rubik Bubbles',cursive;
    font-weight: 200;
}
.pata{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}